---
import { Image } from 'astro:assets';
import pulpoGradiente from '@assets/branding/pulpo-grandient.webp';
import ButtonGlass from './ui/ButtonGlass.astro';
import { Icon } from 'astro-icon/components';
---

<section
  class="flex justify-center items-center min-h-[60vh] bg-[url('/src/assets/background/ellipse-radial.svg')] bg-no-repeat bg-bottom px-10"
>
  <div class="flex justify-center items-center flex-col max-w-[400px] gap-5">
    <Image
      format="webp"
      width="100"
      height="100"
      src={pulpoGradiente}
      alt="Pulpo Gradiente"
    />
    <h1 class="text-center text-2xl font-medium">
      No busques más tiempo. Encuentra el momento oportuno.
    </h1>
    <p class="text-center text-accent text-sm">
      Aprovechamos la mejor tecnología del mundo moderno para crear soluciones
      de software que optimizan tus recursos cuando más importa.
    </p>
    <!-- glass btn -->
    <ButtonGlass variant="textIcon">
      Agendar Cita
      <Icon width={20} height={20} name="calendar" slot="icon" />
    </ButtonGlass>
    <ButtonGlass size="sm"> Todas </ButtonGlass>
    <ButtonGlass variant="icon">
      <Icon width={20} height={20} name="calendar" slot="icon" />
    </ButtonGlass>
  </div>
</section>
