---
import { Image } from 'astro:assets';
import { ButtonGlass } from './ui/ButtonGlass';
import { Icon } from 'astro-icon/components';
---

<section
  class="flex justify-center items-center min-h-[55vh] bg-[url('/src/assets/background/ellipse-radial.svg')] bg-no-repeat bg-bottom px-10"
>
  <div class="flex justify-center items-center flex-col max-w-[400px] gap-5">
    <Image
      format="webp"
      width="300"
      height="300"
      src="/assets/branding/kariosai-logo.webp"
      alt="Pulpo Gradiente"
    />
    <h1 class="text-center text-2xl font-medium">
      No busques más tiempo. Encuentra el momento oportuno.
    </h1>
    <p class="text-center text-accent text-sm">
      Aprovechamos la mejor tecnología del mundo moderno para crear soluciones
      de software que optimizan tus recursos cuando más importa.
    </p>
    <ButtonGlass
      client:visible
      onClick={() => alert('hola')}
      variant="textIcon"
    >
      Agendar Cita
      <i><Icon width={20} height={20} name="calendar" slot="icon" /></i>
    </ButtonGlass>
  </div>
</section>
