---
import CardGlass from './CardGlass.astro';
import ServiceCard from '../components/ServiceCard.astro';
import Hero from './Hero.astro';
import { FAQForm } from './FAQForm';
import { ServicesCarousel } from '../components/ServicesCarousel';
import IntegrationIcon from '../components/IntegrationIcon.astro';
import Footer from './Footer.astro';
import botimage from '@assets/mask/mask-tech.webp';
import { Image } from 'astro:assets';
---

<Hero />

<main class="py-10 px-6 max-w-7xl mx-auto flex flex-col gap-10">
  <section
    class="flex justify-between items-center gap-8 max-[1076px]:flex-col"
  >
    <div class="flex flex-col gap-8 max-w-xl">
      <h1 class="font-semibold text-2xl max-md:text-center">
        Deja de perder oportunidades hoy y transforma tu mañana
      </h1>

      <p class="text-sm max-md:text-center">
        Actualmente, el mercado se divide en dos grupos muy desiguales según el
        reporte de Boston Consulting Group (2025). Tu empresa no tiene por qué
        quedarse atrapada en la brecha.
      </p>

      <div class="flex flex-col md:flex-row gap-6">
        <CardGlass
          title="15%"
          description="Lograron cruzar el abismo técnico. Estas son las empresas que ya dominan la tecnología, integrando Agentes de IA en el núcleo de sus operaciones."
        />
        <CardGlass
          title="70%"
          description="Las empresas están en la fase de 'prueba'. Utilizan funciones aisladas de IA, pero no logran transformar sus procesos ni ver un retorno de inversión real."
        />
      </div>

      <p class="text-sm">
        Boston Consulting Group (BCG) Reporte Oficial: “The Widening AI &
        Digital Value Gap: Build for the Future 2025”.
      </p>
    </div>

    <div class="w-80 max-[1076px]:w-56 my-4">
      <Image
        class="w-full drop-shadow-[0_0_50px_rgba(59,130,246,0.3)]"
        format="webp"
        src={botimage}
        alt="Imagen bot"
      />
    </div>
  </section>

  <section class="flex gap-4"></section>

  <section class="overflow-hidden">
    <div class="mb-12 grid place-content-center">
      <div class="max-w-xl">
        <h2 class="text-4xl font-bold text-white mb-4 text-center">
          Servicios que ofrecemos
        </h2>
        <p class="text-gray-400 text-sm leading-relaxed text-center">
          Completamos tus necesidades de presencia digital desde Diseño UI/UX,
          Desarrollo de Sitios Web o Apps, Aplicaciones Móviles con.
        </p>
      </div>
    </div>

    <ServicesCarousel client:visible>
      <ServiceCard
        title="Automatizaciones impulsadas con IA"
        description="Implementamos sistemas inteligentes que automatizan tus tareas repetitivas, optimizan tus recursos y multiplican la productividad de tu empresa."
        gradiesntClass="bg-gradient-to-br from-[#1e40af] via-[#1e3a8a] to-[#172554]"
      />

      <ServiceCard
        title="Páginas Web"
        description="Diseño y creación de sitios web profesionales de alto impacto que posicionan tu marca, captan nuevos clientes y multiplican tus ventas."
        gradiesntClass="bg-gradient-to-b from-[#0C0C0C] to-[#4D4D4D] border border-white/10"
      />

      <ServiceCard
        title="Desarrollo Móvil"
        description="Soluciones móviles innovadoras diseñadas para optimizar tus procesos internos o brindar un servicio excepcional desde la palma del cliente."
        gradiesntClass="bg-gradient-to-br from-[#4C24A1] via-[#9135D2] to-[#35144C]"
      />
    </ServicesCarousel>
  </section>

  <section class="flex flex-col items-center bg-black overflow-hidden px-6">
    <h2 class="text-white text-2xl md:text-3xl font-medium mb-16 text-center">
      Integraciones Inteligentes
    </h2>

    <div
      class="relative w-full max-w-[650px] py-5 flex flex-col items-center gap-6 md:gap-10"
    >
      <div
        class="absolute inset-0 flex items-center justify-center pointer-events-none"
      >
        <img
          src="/assets/bg/ellipse-linear-bluepink.svg"
          class="absolute w-[120%] h-[120%] opacity-90 blur-3xl"
          alt="Fondo decorativo"
        />

        <img
          src="/assets/bg/Frame22.webp"
          class="absolute w-full h-full object-contain opacity-20"
          alt="Marco decorativo"
        />
      </div>

      <div class="relative z-10 w-[65%] md:w-[55%] flex justify-between">
        <IntegrationIcon src="/assets/logos/strapi.svg" alt="Strapi" />
        <IntegrationIcon src="/assets/logos/meta-3.svg" alt="Meta" />
      </div>

      <div class="relative z-10 w-full flex justify-between items-center">
        <IntegrationIcon src="/assets/logos/chatwoot.svg" alt="Chatwoot" />

        <div class="w-24 h-24 md:w-32 md:h-32">
          <img
            src="/assets/branding/pulpo-grandient.webp"
            alt="Kairos AI"
            class="w-full h-full object-contain animate-pulse"
          />
        </div>

        <IntegrationIcon src="/assets/logos/gmail.svg" alt="Gmail" />
      </div>

      <div class="relative z-10 w-[65%] md:w-[55%] flex justify-between">
        <IntegrationIcon src="/assets/logos/supabase.svg" alt="Supabase" />
        <IntegrationIcon src="/assets/logos/google-meet.svg" alt="Meet" />
      </div>
    </div>
  </section>

  <section class="flex items-center justify-center flex-col gap-8">
    <div class="max-w-[400px] flex items-center flex-col text-center gap-6">
      <h2 class="text-2xl font-semibold">¿Tienes preguntas?</h2>
      <p>
        Preparamos una sección especial para ti, y si no podemos resolverlo, no
        dudes en contactarnos.
      </p>
    </div>

    <FAQForm client:visible />
  </section>
</main>

<Footer />
